@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  max-width: 100vw;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* GENERICS */

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





/* LOGO */

.logo__img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.logo__link:hover {
    color: rgb(100, 21, 255);
}

.logo__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;    
    font-weight: 900;
    color: rgb(36, 62, 99);
}


/* NAV */

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px 0;
    
}

.nav__links {
    display: flex;
    width: 30%;
    justify-content: space-between;
    

}






.container__main--home {
    display: flex;
    flex-direction: column;

    /* 40% | 60% */
}

.services {
    display: flex;
    flex-wrap: wrap;

}

.service {
    display: flex;
    width: calc(100% / 3);
}

.service__description {
    display: flex;
    flex-direction: column;
}

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    width: calc(100% /3);
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    align-items: center;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}