@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* GENERICS */

.container {
  box-sizing: border-box;
  padding: 80px 0;
}

.row {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__mod1 {
  max-width: 1024px;
}

.row__mod2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row__mod3 {
  max-width: 1280px;
}

.row__mod4 {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app__container {
  font-size: 16px;
  padding: 2rem;
}

/* LOGO */

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.logo__link:hover {
  color: rgb(100, 21, 255);
}

.logo__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  color: rgb(36, 62, 99);
}

/* NAV */

.nav__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  font-size: 0.875rem;
  color: rgb(36, 62, 99);
  padding: 0 6px;
}

.nav__link:hover .nav__link--tag {
  color: rgb(100, 21, 255);
}

.nav__link--tag {
  color: rgb(36, 62, 99);
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin: 0 24px;
  transition: all 500ms ease;
}

.sign__up-box {
  background-color: rgb(100, 21, 255);
  height: 100%;
  border-radius: 9999px;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign__up--box--text {
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
}

.hover__link {
  position: relative;
  text-decoration: none;
  color: rgb(36, 62, 99);
  padding-bottom: 0.4rem;
}

.hover__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(100, 21, 255);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.hover__link:hover::after {
  opacity: 1;
}

.sign__up-link {
  transition: all 300ms;
}

.sign__up-link:hover {
  filter: brightness(80%);
}

/* GETTING STARTED SECTION */

#getting_started {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.getting__started-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8rem 0;
}

.getting__started--text-section {
  width: 42%;
}

.getting__started-img {
  width: 58%;
}

.starting__header {
  font-size: 3rem;
  color: #1a202c;
}

.starting__subheader {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #243e63;
  margin: 2rem 0;
}

.purple {
  color: rgb(100, 21, 255);
}

.email__input-box {
  max-width: 480px;
  width: 100%;
  border-radius: 9999px;
  border: 2px solid rgb(226, 232, 240);
  font-weight: 500;
  font-size: 1.125rem;
  display: flex;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
}

.input {
  background-color: transparent;
  font-size: 1rem;
  padding: 1.25rem 1rem 1.25rem 2rem;
  width: 100%;
  border: none;
  outline: none;
  color: rgb(36, 62, 99);
}

.input::placeholder {
  color: #d8d7e0;
  font-weight: 500;
}

.input:focus {
  border-color: rgb(100, 21, 255);
}

input:hover .email__input-box {
  border-color: #a0aec0;
}

.get__started-btn {
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(100, 21, 255);
  height: 100%;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 9999px;
  width: 55%;
  border: none;
  padding: 1rem 0;
  margin: 0.5rem 0.5rem 0.5rem 0;
  transition: all 300ms;
}

.get__started-btn:hover {
  filter: brightness(80%);
}

.customers__container {
  margin-top: 5rem;
  width: 100%;
}

.customers__para {
  font-weight: 800;
  font-size: 0.75rem;
  color: #a0aec0;
}

.customers {
  margin-top: 1rem;
  width: 100%;
  padding-right: 8rem;
  opacity: 0.5;
}

/* FEATUERS */

.features__title {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.service__header {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.025rem;
  color: #243e63;
}

.service__description {
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
  font-size: 1.125rem;
  line-height: 1.625;
  color: #7c8ba1;
  font-weight: 500;
}

.purple__big {
  color: rgb(100, 21, 255);
  font-weight: 900;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__container {
  width: 100%;
}

.service {
  padding: 2rem 0.5rem;
  /* margin: 0 1rem; */
  display: flex;
}

.service__description-text {
  margin: 0.5rem 0 0 1rem;
  display: flex;
  flex-direction: column;
}

.icon {
  text-align: center;
  flex-shrink: 0;
  height: 4.125rem;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 9999px;
  padding: 1.25rem;
}

.service__title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025rem;
}

.description {
  font-weight: 500;
  line-height: 2;
  margin-top: 1rem;
  color: #7c8ba1;
  max-width: 212px;
}

/* QUALITY WORK */

.text__half-quality-work {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 45%;
}

.margin__top {
  margin-top: 1rem;
}

.left {
  text-align: left;
}

.description2 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #7c8ba1;
  max-width: 570px;
}

.learn__more-btn {
  font-size: 0.875rem;
  background-color: rgb(100, 21, 255);
  border-radius: 9999px;
  color: white;
  padding: 0.75rem 2rem;
  width: 9rem;
  height: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  transition: all 300ms;
}

.learn__more-btn:hover {
  filter: brightness(80%);
}

.quality__img--wrapper {
  width: 50%;
}

.quality__work-img {
  width: 100%;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.25rem;
}





/* NO ATTRIBUTES */

.no__bullets {
  list-style-type: none;
}

.no__margin {
  margin: 0;
}

.no-cursor {
  cursor: not-allowed;
}






/* STEPS */

.step__number {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: #cbd5e0;
}

.step {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.steps__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(36, 62, 99);
}

.steps__description {
  margin-left: 1.5rem;
}

.steps__description--para {
  margin-top: 0.75rem;
  color: #718096;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.steps__text--container {
  padding-left: 3rem;
  width: 50%;
}

.steps__img {
  width: 100%;
}

/* VALUES */

.dollar__sign {
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: middle;
}

.breifcase {
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.value__icon1 {
  background-color: #9ae6b4;
  border-radius: 9999px;
  height: 36px;
  padding: 8px;
  color: #276749;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value__icon2 {
  background-color: #feb2b2;
  border-radius: 9999px;
  height: 36px;
  width: 36px;
  padding: 8px;
  color: #9b2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value__title {
  color: rgb(36, 62, 99);
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.value__description {
  color: #718096;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 400;
  line-height: 1.625;
  max-width: 260px;
}

.value__box {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.value__header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.value {
  margin: 2rem 2rem 0 0;
}

/* PLANS */

.plans {
  z-index: 1;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.plan {
  margin: 4rem 2rem 0 0;
  width: calc(100% / 3);
  border-left: 1px solid rgb(226, 232, 240);
  border-top-left-radius: 8px;
  border-right: 1px solid rgb(226, 232, 240);
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(226, 232, 240);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.plan__business {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__business1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.plan__business3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.no__border {
  border: none;
}

.plan__part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  border-bottom: 1px solid rgb(226, 232, 240);
}

.plan__part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-top: 1px solid rgb(226, 232, 240);
  border-bottom: 1px solid rgb(226, 232, 240);
}

.plan__part3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  border-top: 1px solid rgb(226, 232, 240);
}

.name {
  font-size: 1.25rem;
  color: #1a202c;
  font-weight: 700;
  text-align: center;
}

.for__who {
  font-size: 1.25rem;
  color: #1a202c;
  font-weight: 700;
  text-align: center;
  margin-top: 1.25rem;
}

.price {
  font-size: 3rem;
  color: #1a202c;
  font-weight: 700;
  text-align: center;
  margin: 4px 0;
}

.duration {
  font-size: 1rem;
  color: #a0aec0;
  font-weight: 700;
  text-align: center;
  margin: 4px 0;
}

.feature {
  text-align: center;
  color: #718096;
  margin-top: 1.25rem;
  font-weight: 500;
}

.buy__now1 {
  border: none;
  border-radius: 9999px;
  padding: 1rem 2rem;
  color: #f7fafc;
  font-size: 0.875rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  width: 65%;
}

.buy__now2 {
  border: none;
  border-radius: 9999px;
  padding: 1rem 2rem;
  color: #f7fafc;
  font-size: 0.875rem;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  width: 65%;
}

.container__main--home {
  display: flex;
  flex-direction: column;
}

.top__highlight {
  height: 8px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.top__highlight2 {
  height: 8px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.business {
  margin: 4rem 2rem 0 0;
  width: calc(100% / 3);
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border-radius: 8px;
}

.slight__margin {
  margin-top: 8px;
}

 .white {
  color: rgb(247, 250, 252);
 }

 .offwhite {
  color: rgb(226, 232, 240);
 }



/* TESTIMONIAL */

.testimonial__text--section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  padding-left: 4rem;
}

.testimonial__img--wrapper {
  width: 50%;
}

.testimonial__img {
  width: 100%;
}

.stars {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.star {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 4px;
}

.experience {
  font-size: 1.25rem;
  margin-top: 1rem;
  color: #243e64;
  font-weight: 700;
}

.cust__experience {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 2.875rem;
  color: #4a5568;
  line-height: 1.625;
  font-weight: 500;
}

.author__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.author__subcontainer {
  display: flex;
  flex-direction: row;
  
}

.author__bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
}

.author__name {
  font-size: 1.25rem;
  color: #243e63; 
  font-weight: 700;
}

.author__pos {
  font-size: 1rem;
  color: #7c8ba1;
  font-weight: 500;
}

.picture {
  display: flex;
  align-items: center;
}

.author__img {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
}

.arrow__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn__right {
  border: none;
  border-radius: 9999px;
  width: 48px;
  margin: 0 12px;
  padding: 16px;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6415ff;
}

.divider {
  background-color: rgb(237, 242, 247);
  width: 1px;
  height: 24px;
}

.btn__left {
  border: none;
  border-radius: 9999px;
  width: 48px;
  margin: 0 12px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6415ff;
}






/* PATHS / BACKGROUND IMAGES */

.path1 {
  z-index: -10;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  opacity: 0.05;
  width: 16rem;
  height: 16rem;
  display: block;
  transform: translate(-55%, 215%);
}

.path2 {
  z-index: -10;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0px;
  right: 0px;
  opacity: 0.25;
  width: 16rem;
  height: 16rem;
  display: block;
  transform: translate(35%, 275%);
}

.path3 {
  z-index: -10;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0px;
  right: 0px;
  width: 5rem;
  height: 5rem;
  display: block;
  transform: translate(-340%, 1500%);
}

.path4 {
  color: white; 
}

.path5 {
  position: absolute;
  left: 0px;  
  bottom: 0px;  
  z-index: -10;
  height: 16rem;  
  width: 16rem;
  opacity: 0.25;
  transform: translateX(75%) translateY(1425%);
}

.path6 {
  color: white;
}

.path7 {
  color: white;
}



/* FAQS */

.med__margin {
  margin-bottom: 48px;
}

.faqs {
  max-width: 896px;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin: 0 auto;
}

.faq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
  background-color: #edf2f7;
  padding: 16px 40px;
  margin-top: 20px;
  transition: all 300ms ease;
}

.faq:hover {
  filter: brightness(95%);
  cursor: not-allowed;
}

.faq__holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.question {
  font-size: 20px;
  color: #2d3748;
  font-weight: 600;
}

.dropdown__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}





/* PREFOOTER */

.prefooter__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 6.5rem 0;
  background-color: rgb(100, 21, 255);
  border-radius: 8px;
  justify-content: space-around;
}

.prefooter__text {
  max-width: 480px;
}

.prefooter__title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #f7fafc;
}

.prefooter__btn--getstarted {
  border: none;
  border-radius: 9999px;
  margin-right: 1rem;
  padding: 20px 40px;
  color: #f7fafc;
  background-color: #f56565;
}

.prefooter__btn--contactus {
  border: none;
  border-radius: 9999px;
  padding: 20px 40px;
}


